@import 'settings', 'typography';

.MarkdownBlock {
  @extend .text-madison-blue;

  &--white {
    @extend .bg-white;
  }

  &--yellow {
    @extend .bg-marigold-yellow;
  }

  &--light-yellow {
    @extend .bg-off-yellow;
  }

  &--pink {
    @extend .bg-light-pink;
  }

  > h1 {
    @extend .title;
    margin-bottom: spacing(4);
  }

  > h2 {
    @extend .block-headline;
    margin-bottom: spacing(4);
  }

  > h3 {
    @extend .block-subheadline;
    @extend .bold;
    margin-bottom: spacing(2);
  }

  > p {
    @extend .block-subheadline;
    margin-bottom: spacing(8);

    > a {
      text-decoration: none;
      border-bottom: spacing(0.5) solid color('peach');
    }

    > strong {
      @extend .bold;
    }

    > img {
      width: 100%;
    }
  }

  ol,
  ul {
    margin: spacing(10);

    > li {
      margin: spacing(3) 0;
    }
  }

  blockquote {
    width: 100%;

    > p {
      width: 100%;
      text-align: center;
    }
  }
}

.MarkdownBlock--title-left {
  flex-direction: column;

  @media ($medium-up) {
    flex-direction: row;
  }

  .MarkdownBlock__title-container {
    padding: spacing(16) 0 0;

    @media ($medium-up) {
      padding: spacing(16) 0;
    }
  }
}
