@import 'settings';

.PressCarouselCards {
  &__card {
    border-radius: radius('s');
    margin: spacing(4);
    width: spacing(65);
    min-height: spacing(96);

    @media ($medium-up) {
      width: spacing(75);
    }
  }

  &__logo {
    width: spacing(21);
    height: spacing(10);
    object-fit: contain;
  }

  &__quote {
    font-size: $font-5;

    @media ($medium-up) {
      font-size: spacing(5.2);
    }
  }

  &__button {
    > span {
      margin-bottom: 1px;
    }
  }
}
