@import 'settings';

.textInputAlcohol {
  font-size: 10px;
}

.margin {
  margin: 20px 0;
}

.round {
  position: relative;
  padding: 0;
  label {
    background-color: #fff;
    border: 2px solid #13466d;
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: 10px;
  }

  input[type='checkbox'] {
    visibility: hidden;
  }

  input[type='checkbox']:checked + label {
    background-color: #13466d;
    border-color: #13466d;
    &:after {
      opacity: 1;
    }
  }
}

.ProductShoppableCard {
  padding: spacing(4);

  @media ($medium-up) {
    padding: spacing(4) spacing(2) 0;
  }

  &__info {
    padding: spacing(6);
  }

  &__actions {
    height: $button-small-height;

    .ProductShoppableCard__quantity-selector {
      opacity: 0;
      transform: translate3d(0, spacing(-8), 0);
    }

    &--has-quantity {
      .ProductShoppableCard__quantity-selector {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      .ProductShoppableCard__button {
        opacity: 0;
        transform: translate3d(0, spacing(8), 0);
      }
    }
  }
}
