@import 'settings';

.Cart {
  padding: spacing(8);

  @media ($medium-up) {
    padding: spacing(16);
  }

  &__container {
    padding: 0;

    @media ($medium-up) {
      padding: 0 15%;
    }
  }

  &__title {
    margin-right: auto;
  }

  &__product-details {
    font-size: $font-3;
    line-height: $font-6;
  }

  &__content-container {
    flex-direction: column;

    @media ($medium-up) {
      flex-direction: row;
    }
  }

  &__content-inner-wrapper {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;

    @media ($medium-up) {
      width: 40%;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__item-title {
    @media ($medium-up) {
      margin-right: auto;
    }
  }

  &__quantity-title {
    margin-right: 0;
    @media ($medium-up) {
      margin-right: spacing(11);
    }
  }

  &__delete {
    justify-content: flex-end;

    @media ($medium-up) {
      justify-content: center;
    }
  }

  &__gift-message {
    margin-top: 0;

    @media ($medium-up) {
      margin-top: spacing(16);
    }
  }

  &__shipping-info {
    padding-bottom: spacing(4);

    @media ($medium-up) {
      padding: spacing(8) 0;
    }
  }

  &__shipping-info__container {
    margin-top: spacing(8);
    flex-direction: column;
    order: 2;

    @media ($medium-up) {
      margin-top: 0;
      flex-direction: row;
      justify-content: space-between;
      order: 1;
    }
  }

  &__shipping-info__chekout {
    margin-top: spacing(8);

    @media ($medium-up) {
      margin-top: 0;
    }
  }

  &__shipping-info__tax {
    margin-top: spacing(8);

    @media ($medium-up) {
      margin-top: 0;
    }
  }

  &__shipping-info-total {
    margin-top: spacing(8);

    @media ($medium-up) {
      margin-top: 0;
    }
  }

  &__message-checkout-container {
    flex-direction: column;
    order: 1;

    @media ($medium-up) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      order: 2;
    }
  }

  &__block-with-border {
    border-bottom: spacing(0.5) solid color('gray');
  }

  &__update-button {
    animation: slide-down $transition-duration-medium;
    opacity: 0;

    &--active {
      animation: slide-up $transition-duration-medium;
      opacity: 1;
    }
  }
}
