@import 'settings';

.ProductWhatsIncluded {
  &--light-pink {
    @extend .bg-baby-pink;
    @extend .text-madison-blue;
  }

  padding: spacing(10) spacing(4);
  flex-direction: column;

  @media ($medium-up) {
    padding: spacing(20) spacing(4) spacing(10);
    flex-direction: row;
  }

  &__flavor-container {
    @media ($medium-up) {
      padding: spacing(2) 0;
      max-width: spacing(150);
    }
  }
}
