@import 'settings';
$CRF-close-bar-height: spacing(18);

.CakeRequestForm {
  &__button {
    padding-top: calc(#{spacing(4)} + 0.0625rem);
    padding-bottom: calc(#{spacing(4)} - 0.0625rem);
  }

  &__modal {
    &__info {
      height: calc(100% - #{$CRF-close-bar-height});
    }

    &__close-bar {
      border-top: color('light-gray') 1px solid;
      height: $CRF-close-bar-height;
    }

    &__text {
      font-size: $font-3;
      line-height: $font-5;
    }
  }
}
