@import 'settings', 'src/styles/utils';

.Radio {
  &::before {
    @extend .circle;
    content: ' ';
    border: spacing(0.8) solid color('peach');
    display: inline-block;
    height: spacing(4);
    margin-right: spacing(2);
    width: spacing(4);
    vertical-align: middle;
  }

  &__check {
    left: spacing(1);
  }
}
