@import 'settings', 'typography';

.ShopDropdown {
  z-index: 750;
  transition: transform 0.7s ease-out;

  &--inactive {
    transform: translate3d(0, spacing(-180), 0);
  }

  &__nav-container {
    top: $header-height-desktop;
    height: spacing(70);
  }

  &__nav-container--with-alert {
    top: calc(#{$header-height-desktop} + #{$alert-height-desktop});
  }

  &__product-wrapper {
    width: 60%;
  }

  &__product-container {
    max-width: 40rem;
  }

  &__card {
    width: spacing(42);
    height: spacing(55);
    border-radius: radius('xs');
    overflow: hidden;
  }

  &__image--container {
    height: 70%;
  }

  &__image {
    object-fit: contain;
  }

  &__card-text-container {
    font-size: $font-2;
    line-height: $font-4;
    height: 20%;
  }

  &__merch-container {
    height: spacing(55);
    width: 20%;
  }
}
