@import 'settings', 'src/styles/utils', 'src/styles/typography';

.TextField {
  label {
    display: block;
  }

  input,
  textarea {
    @extend .bold;
    border: spacing(1) solid color('madison-blue');
    padding: spacing(4);
    width: 100%;
    appearance: none;
    border-radius: radius('0');
    border: spacing(1) solid transparent;
    font-family: $font-avenir;

    &::placeholder {
      @extend .bold;
    }
  }

  &--error {
    input {
      border-color: color('peach');
    }
  }

  &--primary,
  &--primary-search {
    input {
      border-radius: radius('l');
      color: color('madison-blue');
      font-size: $font-3;
    }
  }

  &--primary-search {
    input {
      padding: spacing(4) spacing(7);
      padding-top: calc(#{spacing(4)} + 0.125rem);
      padding-bottom: calc(#{spacing(4)} - 0.125rem);
    }
  }

  &--square,
  &--square--selected {
    input {
      @extend .text-madison-blue;
      width: 100%;
      border-radius: radius('xs');
      border: spacing(0.6) solid color('gray');
      font-size: $font-4;
      padding: spacing(5) spacing(6);
      text-align: center;

      &::placeholder {
        @extend .bold;
        @extend .text-dusty-gray;
        font-size: $font-4;
        text-align: center;
      }
    }
  }

  &--square--selected {
    input {
      border: spacing(0.6) solid color('madison-blue');
    }
  }

  &--madison-blue {
    input {
      @extend .bg-madison-blue;
      @extend .text-white;
    }
  }

  &--madison-blue-border-round {
    input {
      @extend .text-madison-blue;

      border: spacing(1) solid color('madison-blue');
      border-radius: radius('l');
      padding-left: spacing(6);
      padding-right: spacing(6);
      font-size: $font-4;

      &::placeholder {
        @extend .text-madison-blue;
      }
    }
  }

  &--madison-blue-border {
    input {
      @extend .bg-madison-blue;
      @extend .text-white;
      border: spacing(1) solid color('white');
    }
  }

  &--seafoam-madison-blue-border {
    input {
      @extend .bg-seafoam;
      @extend .text-madison-blue;
      border: spacing(1) solid color('madison-blue');
    }
  }

  &--light-gray,
  &--light-gray-tall {
    input,
    textarea {
      @extend .bg-light-gray;
      @extend .text-madison-blue;
      border: 0;
      border-radius: radius('s');
      padding: spacing(6);
      height: spacing(15);
      font-size: $font-3;
    }
  }

  &--light-gray-tall {
    textarea {
      @extend .bold;
      height: spacing(65);
      width: 100%;
      padding: spacing(5);
      resize: none;

      span {
        width: 100%;
      }
    }
  }

  &--quantity,
  &--quantity-medium,
  &--quantity-small {
    label {
      display: none;
    }

    input {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: radius('circle');
      font-size: $font-4;
      padding: spacing(2);
      padding-top: 0.8rem;
      height: spacing(10);
      width: spacing(10);
      text-align: center;
      transform: translateY(spacing(-0.5));
    }
  }

  &--quantity-medium {
    input {
      font-size: $font-3;
      height: spacing(9);
      width: spacing(9);
    }
  }

  &--quantity-small {
    input {
      padding: 0;
      font-size: $font-2;
      height: spacing(7);
      width: spacing(7);
      padding-top: 0.3rem;
    }
  }
}
