@import 'settings', 'src/styles/utils', 'src/styles/typography';

.TextField {
  label {
    display: block;
  }

  input {
    border: spacing(1) solid color('madison-blue');
    padding: spacing(4);
    width: 100%;
    appearance: none;
    border-radius: radius('0');
    border: spacing(1) solid transparent;
  }

  &--error {
    input {
      border-color: color('peach');
    }
  }

  &--madison-blue {
    input {
      @extend .bg-madison-blue;
      @extend .text-white;
    }
  }

  &--madison-blue-border-round {
    input {
      @extend .text-madison-blue;
      @extend .bold;
      border: spacing(1) solid color('madison-blue');
      border-radius: radius('l');
      font-size: $font-4;

      &::placeholder {
        @extend .text-madison-blue;
        @extend .bold;
      }
    }
  }

  &--madison-blue-border {
    input {
      @extend .bg-madison-blue;
      @extend .text-white;
      border: spacing(1) solid color('white');
    }
  }

  &--seafoam-madison-blue-border {
    input {
      @extend .bg-seafoam;
      @extend .text-madison-blue;
      border: spacing(1) solid color('madison-blue');
    }
  }

  &--light-gray,
  &--light-gray-tall {
    input,
    textarea {
      @extend .bg-light-gray;
      @extend .text-madison-blue;
      @extend .bold;
      border: 0;
      border-radius: radius('s');
      padding: spacing(6);
      height: spacing(15);
      font-size: $font-3;

      &::placeholder {
        @extend .text-madison-blue;
      }
    }
  }

  &--light-gray-tall {
    textarea {
      border-radius: radius('s');
      height: spacing(65);
      width: 100%;
      padding: spacing(5);
      resize: none;

      span {
        width: 100%;
      }
    }
  }

  &--quantity,
  &--quantity-small {
    label {
      display: none;
    }

    input {
      border-radius: radius('circle');
      font-weight: 600;
      font-size: $font-4;
      padding: spacing(2);
      height: spacing(10);
      width: spacing(10);
      text-align: center;
      transform: translateY(spacing(-0.5));
    }
  }

  &--quantity-small {
    input {
      padding: 0;
      font-size: $font-2;
      height: spacing(7);
      width: spacing(7);
      transform: translateY(spacing(-1));
    }
  }
}
