@import 'settings', 'src/styles/utils', 'src/styles/typography';

.TextField {
  label {
    display: block;
  }

  input {
    @extend .bold;
    border: spacing(1) solid color('madison-blue');
    padding: spacing(4);
    width: 100%;
    appearance: none;
    border-radius: radius('0');
    border: spacing(1) solid transparent;

    &::placeholder {
      @extend .bold;
    }
  }

  &--error {
    input {
      border-color: color('peach');
    }
  }

  &--madison-blue {
    input {
      @extend .bg-madison-blue;
      @extend .text-white;
    }
  }

  &--madison-blue-border-round {
    input {
      @extend .text-madison-blue;

      border: spacing(1) solid color('madison-blue');
      border-radius: radius('l');
      padding-left: spacing(6);
      padding-right: spacing(6);
      font-size: $font-4;

      &::placeholder {
        @extend .text-madison-blue;
      }
    }
  }

  &--madison-blue-border {
    input {
      @extend .bg-madison-blue;
      @extend .text-white;
      border: spacing(1) solid color('white');
    }
  }

  &--seafoam-madison-blue-border {
    input {
      @extend .bg-seafoam;
      @extend .text-madison-blue;
      border: spacing(1) solid color('madison-blue');
    }
  }

  &--light-gray {
    input,
    textarea {
      @extend .bg-light-gray;
      @extend .text-madison-blue;
      border: 0;
      border-radius: radius('s');
      padding: spacing(6);
      height: spacing(15);
      font-size: $font-3;
    }
  }

  &--textarea {
    textarea {
      @extend .bold;
      border-radius: radius('s');
      height: spacing(65);
      width: 100%;
      padding: spacing(5);
      resize: none;

      span {
        width: 100%;
      }
    }
  }

  &--quantity,
  &--quantity-medium,
  &--quantity-small {
    label {
      display: none;
    }

    input {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: radius('circle');
      font-size: $font-4;
      padding: spacing(2);
      height: spacing(10);
      width: spacing(10);
      text-align: center;
      transform: translateY(spacing(-0.5));
    }
  }

  &--quantity-medium {
    input {
      padding: 0;
      margin: -1px;
      font-size: $font-3;
      height: spacing(9);
      width: spacing(9);
    }
  }

  &--quantity-small {
    input {
      padding: 0;
      font-size: $font-2;
      height: spacing(7);
      width: spacing(7);
    }
  }
}
