@import 'settings';

.OurPledge {
  &__text-container {
    border-radius: spacing(4);
    padding: spacing(4) spacing(1);
    align-items: flex-end;

    @media ($medium-up) {
      height: spacing(20);
      min-width: spacing(100);
      padding: spacing(4);
      align-items: center;
    }
  }

  &__text-description {
    margin-top: spacing(2);
    padding: 0 spacing(4);

    @media ($medium-up) {
      margin-top: 0;
      padding: 0;
      text-align: center;
    }
  }

  &__more-info {
    border-bottom: solid color('peach') 1px;
    padding-bottom: spacing(1);
  }

  &__icon {
    margin-bottom: spacing(-3);
  }
}
