@import 'settings';

.OurPledge {
  &__content-container {
    border-radius: radius('m');
    padding: spacing(6) spacing(4);
    flex-direction: column;

    @media ($medium-up) {
      min-width: spacing(100);
      padding: spacing(6) 0;
      flex-direction: row;
    }
  }

  &__text-description {
    margin: spacing(4) 0;
    font-size: $font-1;

    @media ($medium-up) {
      margin: 0;
      padding: 0;
    }
  }

  &__more-info {
    border-bottom: solid color('peach') 1px;
    padding-bottom: spacing(1);
  }

  &__icon {
    margin-bottom: spacing(-3);
  }
}
