@import 'settings', 'typography';
$CRF-close-bar-height: spacing(18);

.PartyRequestForm {
  &__day-picker-container,
  &__day-picker-container--selected {
    cursor: pointer;
    text-decoration: none;
    border-radius: radius('xs');
    border: spacing(0.6) solid color('gray');
    padding: spacing(5) spacing(6);
    padding-top: calc(#{spacing(5)} + 0.0625rem);
    padding-bottom: calc(#{spacing(5)} - 0.0625rem);

    > div {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__day-picker-container--selected {
    border: spacing(0.6) solid color('madison-blue');
  }

  &__day-picker {
    box-shadow: $drop-shadow;
    border-radius: radius('xs');
    border: spacing(0.3) solid color('gray');
  }

  &__footer-container {
    flex-direction: column;
    align-items: flex-start;

    @media ($medium-up) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__footer-summery {
    align-items: flex-start;
    margin-bottom: spacing(16);

    @media ($medium-up) {
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__help-text {
    line-height: $font-6;
    font-size: 0.75rem;
  }

  &__footer-text-container {
    max-width: spacing(65);
  }

  &__footer-text {
    font-size: 1.125rem;
  }

  &__party-type-button {
    flex-direction: column;
    justify-content: center;

    @media ($medium-up) {
      flex-direction: row;
      justify-content: space-between;
      padding: spacing(8) 0;
    }
  }

  &__party-type-inner-button {
    margin-top: spacing(8);

    @media ($medium-up) {
      margin: 0;
    }
  }

  &__modal {
    &__info {
      height: calc(100% - #{$CRF-close-bar-height});
    }

    &__close-bar {
      border-top: color('light-gray') 1px solid;
      height: $CRF-close-bar-height;
    }

    &__text {
      font-size: $font-3;
      line-height: $font-5;
    }
  }
}
