@import 'settings';

.PintFinder {
  &__inner {
    padding: 2rem;

    @media ($medium-up) {
      padding: 6rem 7.5rem 2rem;
    }
  }

  &__input-control {
    position: absolute;
    top: 50%;
    right: 0.65rem;
    transform: translateY(-45%);
  }

  &__loader svg {
    animation: rotate linear infinite 2.75s;
  }

  &__location-pin {
    margin-left: 3px;
    color: color('peach');
    fill: color('peach');

    svg {
      transform: translateY(2px);
    }
  }

  &__radius-dropdown {
    margin-top: 0.25rem;
    white-space: nowrap;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
