@import 'settings';

.LocationsMap {
  height: calc(100vh - #{$header-height-desktop});

  &--with-alert {
    height: calc(100vh - #{$header-height-desktop} - #{$alert-height-desktop});
  }

  &__map-key-item {
    height: $button-small-height;
    border-radius: radius('l');

    span {
      margin-top: spacing(1);
    }
  }

  &__seasonal-button--selected {
    box-shadow: $drop-shadow;
    transform: translate3d(0, spacing(-0.25), 0);
  }

  &__circle-icon {
    width: spacing(6);
    height: spacing(6);
    font-size: 0.4rem;
  }
}
