@import 'settings';

.LocationsMap {
  height: calc(100vh - #{$header-height-desktop});

  &--with-alert {
    height: calc(100vh - #{$header-height-desktop} - #{$alert-height-desktop});
  }

  &__map-key-item {
    height: $button-small-height;
    border-radius: radius('l');

    span {
      margin-top: spacing(1);
    }
  }
}
