@import 'settings';

.AvailableFlavors {
  @extend .bg-white;

  &--yellow {
    @extend .bg-yellow;
  }

  &--light-yellow {
    @extend .bg-light-yellow;
  }

  &--mustard {
    @extend .bg-deep-yellow;
  }

  &--blue {
    @extend .bg-sky-blue;
  }

  &--light-turquoise {
    @extend .bg-light-turquoise;
  }

  &--pink {
    @extend .bg-light-pink;
  }

  &--light-pink {
    @extend .bg-baby-pink;
  }

  &--light-peach {
    @extend .bg-light-peach;
  }

  &__card-container {
    flex-direction: column;

    @media ($medium-up) {
      flex-direction: row;
    }
  }

  &__card {
    border-radius: radius('xs');
    width: 100%;
    height: spacing(25);

    @media ($medium-up) {
      width: spacing(70);
    }
  }

  &__card-image {
    height: spacing(17);
    object-fit: contain;
  }
}
