@import 'settings', 'src/styles/utils';

$transition-duration: 0.2;

.LocationsCards {
  min-height: calc(100vh - #{$header-height-desktop});

  &__cards-container {
    padding: 0 spacing(6);

    @media ($medium-up) {
      padding: 0 spacing(8);
    }
  }

  &__card-container {
    border-radius: radius('s');
    min-height: spacing(96);
    max-width: spacing(100);

    @media ($medium-up) {
      min-height: spacing(120);
    }
  }

  &__states-dropdown {
    max-width: 25rem;

    @media ($large-up) {
      display: none;
    }
  }

  &__card-seasonal {
    top: spacing(37);
    right: spacing(12);

    @media ($medium-up) {
      top: spacing(47);
    }
  }

  &__card-seasonal-image {
    width: spacing(8);
    margin-bottom: spacing(-7);
  }

  &__card-seasonal-circle {
    width: spacing(17);
    height: spacing(17);
  }

  &__card-seasonal-circle-text {
    margin-top: spacing(6);
  }

  &__card-image {
    border-top-right-radius: radius('s');
    border-top-left-radius: radius('s');
    height: spacing(50);

    @media ($medium-up) {
      height: spacing(60);
    }
  }

  &__card-text {
    margin-top: spacing(1.5);
  }

  &__card-tag {
    padding: spacing(3) spacing(5) spacing(2);
    border-radius: radius('l');
    letter-spacing: spacing(0.2);
    font-size: $font-2;
  }

  &__card-drip {
    position: relative;

    &::before {
      background-color: color('white');
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: spacing(-5);
      width: 100%;
      height: spacing(10);
      mask: url('/assets/images/card-polygon.svg') no-repeat;
      mask-position: center;
      mask-size: cover;
    }
  }
}

.loader,
.loader:before,
.loader:after {
  margin-bottom: spacing(40);
  border-radius: 50%;
  width: spacing(8);
  height: spacing(8);
  animation: showHideDot 1.8s infinite ease-in-out;
}
.loader {
  color: color('white');
  position: relative;
  animation-delay: -0.16s;
}

.loader:before {
  content: '';
  position: absolute;
  top: 0;
  left: spacing(-12);
  animation-delay: -0.32s;
}

.loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: spacing(12);
}

@keyframes showHideDot {
  0%,
  80%,
  100% {
    box-shadow: 0 spacing(10) 0 spacing(-5);
  }
  40% {
    box-shadow: 0 spacing(10) 0 0;
  }
}
