@import 'settings';

.OurPledgeOverlay {
  pointer-events: none;
  opacity: 0;

  &--active {
    pointer-events: all;
    opacity: 1;
  }

  &__circle-background {
    height: 100%;
    width: 100%;
    border-radius: radius('0');
    right: 0;
    bottom: 0;

    @media ($medium-up) {
      height: spacing(300);
      width: spacing(300);
      border-radius: radius('circle');
      right: -15%;
      top: spacing(-80);
    }
  }

  &__content {
    height: 100%;

    @media ($medium-up) {
      width: spacing(230);
      top: 0;
      right: 0;
    }
  }

  &__text-content {
    overflow: scroll;

    @media ($medium-up) {
      margin-top: 10%;
      margin-right: spacing(-10);
      width: 65%;
      min-width: spacing(100);
    }
  }

  &__image {
    width: 45%;
  }
}
