@import 'settings';

$circle-background-size-desktop: spacing(300);
$circle-background-offset-top-desktop: spacing(-80);

.OurPledgeOverlay {
  pointer-events: none;
  opacity: 0;

  &--active {
    pointer-events: all;
    opacity: 1;
  }

  &__circle-background {
    height: 100%;
    width: 100%;
    border-radius: radius('0');
    right: 0;
    bottom: 0;

    @media ($medium-up) {
      height: $circle-background-size-desktop;
      width: $circle-background-size-desktop;
      border-radius: radius('circle');
      right: -15%;
      top: $circle-background-offset-top-desktop;
    }
  }

  &__content {
    height: 100%;

    @media ($medium-up) {
      width: spacing(230);
      top: 0;
      right: 0;
    }
  }

  &__text-content {
    margin-top: spacing(12);

    @media ($medium-up) {
      margin-right: spacing(-10);
      width: 65%;
      min-width: spacing(100);
      height: calc(
        #{$circle-background-size-desktop} + #{$circle-background-offset-top-desktop} -
          #{spacing(54)}
      );
    }
  }
}
