@import 'settings';

.OurPledgeOverlay {
  &__base-background {
    position: fixed;
  }

  &__circle-background {
    height: 140vh;
    width: 140vh;
    border-radius: 50% / 50%;
    right: -20%;
    bottom: 6vh;
  }

  &__content {
    height: 90vh;
  }

  &__text-content {
    width: 90vh;
    height: 60vh;
  }

  &__button {
    background-color: transparent;
    width: 2.6%;
    min-width: spacing(8);
  }

  &__image {
    width: 30%;
  }
}
