@import 'settings';

.ProductHero {
  &__title-illustration {
    width: spacing(72);

    @media ($medium-up) {
      width: spacing(90);
    }
  }

  &__carousel {
    height: 100% !important;

    :global {
      .slider,
      .slider-slide,
      .slider-frame,
      .slider-list {
        height: 100% !important;
      }
    }
  }
}
