@import 'settings';

.ProductHero {
  &__title-illustration {
    width: spacing(72);

    @media ($medium-up) {
      width: spacing(90);
    }
  }

  &__alert {
    border-radius: 1rem;
    background: color('white-wash');
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0.65rem;
  }

  &__button {
    padding: spacing(2) spacing(4);
    padding-top: spacing(2) + 0.0625rem;
    padding-bottom: spacing(2) - 0.0625rem;

    @media ($medium-up) {
      padding: spacing(2) spacing(6);
      padding-top: spacing(2) + 0.0625rem;
      padding-bottom: spacing(2) - 0.0625rem;
    }
  }

  &__shipping {
    font-size: $font-2;
    letter-spacing: spacing(0.1);
  }

  &__carousel {
    height: 100% !important;

    :global {
      .slider,
      .slider-slide,
      .slider-frame,
      .slider-list {
        height: 100% !important;
      }
    }
  }

  &__downtime {
    animation: down-time 1.5s forwards;
    opacity: 0;
    transform: translateY(2rem);
  }

  @keyframes down-time {
    0% {
      opacity: 0;
      transform: translateY(2rem);
    }

    50% {
      opacity: 1;
      transform: translateY(0);
    }

    60% {
      opacity: 1;
      transform: rotate(-5deg);
    }

    70% {
      opacity: 1;
      transform: rotate(5deg);
    }

    80% {
      opacity: 1;
      transform: rotate(-5deg);
    }

    90% {
      opacity: 1;
      transform: rotate(5deg);
    }

    100% {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}
