@import 'settings';

.ChooseYourOwnStory {
  &__pint-icon {
    height: spacing(10);
    width: spacing(9);
  }

  &__menu-size {
    width: 17.5%;
  }

  &__menu-pints {
    width: 30%;
  }

  &__menu-shipping {
    width: 22.5%;
  }

  &__menu-add {
    width: 30%;
  }
}
