@import 'settings';

$menu-height: spacing(37.5);

.ChooseYourOwnStory {
  padding-bottom: calc(#{$menu-height} + #{spacing(8)});

  &__product-info {
    order: 1;
    padding: spacing(8);

    @media ($large-up) {
      order: 2;
      padding: 0 spacing(16);
      position: sticky;
      margin-top: spacing(4);
      top: calc(
        #{spacing(16)} + #{$header-height-desktop} + #{$alert-height-desktop}
      );
    }
  }

  &__title {
    max-width: 24rem;
  }

  &__product-cards {
    order: 2;

    @media ($large-up) {
      order: 1;
    }
  }

  &__menu {
    border-bottom: dotted spacing(1) color('white');
    transform: translateY(spacing(1));
  }

  &__pint-icon {
    height: spacing(10);
    width: spacing(9);
    object-fit: cover;

    &--small {
      height: 20px;
      width: 18px;
    }
  }

  &__menu-size {
    width: 20%;
  }

  &__menu-pints {
    width: 30%;
  }

  &__menu-add {
    width: 100%;
    justify-items: flex-end;

    @media ($large-up) {
      align-items: flex-end;
      width: 50%;
    }
  }

  &__menu-add-button-wrapper {
    @media ($large-up) {
      width: auto;
    }
  }

  &__menu-quantity {
    margin-bottom: spacing(6);

    > div {
      justify-content: flex-end;
    }

    @media ($large-up) {
      margin-bottom: 0;
      margin-right: spacing(16);
      width: auto;

      > div {
        justify-content: flex-end;
      }
    }
  }

  &__button-text {
    min-width: spacing(58);

    > div {
      width: 100%;
    }
  }

  &__downtime {
    animation: down-time 1.5s forwards;
    opacity: 0;
    transform: translateY(2rem);
    padding: 1.5rem;

    @media ($medium-up) {
      padding: 2rem;
    }

    &__buttons {
      flex-direction: column;
      align-items: start;

      a {
        margin-top: 1rem;
      }

      @media ($medium-up) {
        flex-direction: row;
        align-items: center;

        a {
          margin-top: 0rem;
        }
      }
    }
  }

  @keyframes down-time {
    0% {
      opacity: 0;
      transform: translateY(2rem);
    }

    50% {
      opacity: 1;
      transform: translateY(0);
    }

    60% {
      opacity: 1;
      transform: rotate(-5deg);
    }

    70% {
      opacity: 1;
      transform: rotate(5deg);
    }

    80% {
      opacity: 1;
      transform: rotate(-5deg);
    }

    90% {
      opacity: 1;
      transform: rotate(5deg);
    }

    100% {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}
