@import 'settings';

$menu-height: spacing(37.5);

.ChooseYourOwnStory {
  padding-bottom: calc(#{$menu-height} + #{spacing(8)});

  &__product-info {
    order: 1;
    padding: spacing(8);

    @media ($large-up) {
      order: 2;
      padding: 0 spacing(16);
      position: sticky;
      top: spacing(16);
      display: block;
    }
  }

  &__product-cards {
    order: 2;

    @media ($large-up) {
      order: 1;
    }
  }

  &__menu {
    border-bottom: dotted spacing(1) color('white');
    transform: translateY(spacing(1));
  }

  &__pint-icon {
    height: spacing(10);
    width: spacing(9);
  }

  &__menu-size {
    width: 17.5%;
  }

  &__menu-pints {
    width: 30%;
  }

  &__menu-shipping {
    width: 22.5%;
  }

  &__menu-shipping-dropdown {
    margin-top: spacing(-2);
  }

  &__menu-add {
    width: 100%;

    @media ($large-up) {
      align-items: flex-end;
      justify-items: space-between;
      width: 30%;
    }
  }

  &__menu-quantity {
    margin-bottom: spacing(6);

    > div {
      justify-content: flex-end;
    }

    @media ($large-up) {
      margin-bottom: 0;

      > div {
        justify-content: flex-start;
      }
    }
  }
}
