@import 'settings';

.HorizontalCarousel {
  &__wrapper {
    flex-direction: column;

    @media ($medium-up) {
      flex-direction: row;
      overflow: scroll;
    }
  }

  &__text-container {
    align-items: center;

    @media ($medium-up) {
      align-items: flex-start;
      margin-left: spacing(40);
    }
  }

  &__title {
    width: spacing(90);
  }

  &__carousel-container {
    overflow: scroll;
    flex-direction: row;

    @media ($medium-up) {
      margin-left: spacing(32);
      overflow: visible;
    }

    > div:first-child {
      margin-left: spacing(8);
    }

    > div:last-child {
      margin-right: spacing(8);
    }
  }

  &__carousel-container--reverse {
    flex-direction: row-reverse;
  }
}
