@import 'settings';

.HorizontalCarousel {
  &__wrapper {
    flex-direction: column;

    @media ($medium-up) {
      flex-direction: row;
      overflow: scroll;
    }
  }

  &__text-container {
    align-items: center;
    margin: spacing(12);

    @media ($medium-up) {
      align-items: flex-start;
      margin: spacing(12) 0;
      margin-left: spacing(40);
    }
  }

  &__text {
    max-width: spacing(90);
    text-align: center;

    @media ($medium-up) {
      width: spacing(90);
      text-align: left;
    }
  }

  &__carousel-cards-container {
    overflow: scroll;

    @media ($medium-up) {
      overflow: visible;
    }
  }

  &__carousel-container {
    flex-direction: row;

    @media ($medium-up) {
      margin-left: spacing(32);
    }
  }

  &__carousel-container--reverse {
    flex-direction: row-reverse;
  }
}
