@import 'settings';

.ComicStrip {
  &--yellow {
    @extend .bg-yellow;
    @extend .text-madison-blue;
  }
}

.ComicStrips--container {
  padding: 0;

  @media ($medium-up) {
    padding: spacing(12);
  }
  .ComicStrip {
    @extend .transition;
    display: none;
    opacity: 0;

    &--active {
      display: flex;
      opacity: 1;
    }

    &--button-container {
      max-width: spacing(130);
    }
  }

  &--image {
    width: spacing(65);

    @media ($medium-up) {
      width: 30vw;
    }
  }
}
