@import 'settings';

.ComicStrip {
  &--Yellow {
    @extend .bg-yellow;
    @extend .text-madison-blue;
  }
}

.ComicStrips--container {
  .ComicStrip {
    @extend .transition;
    display: none;
    opacity: 0;

    &--active {
      display: flex;
      opacity: 1;
    }
  }
}
