@import 'settings', 'typography', 'utils';

.EventsBlock {
  @extend .text-madison-blue;

  &--white {
    @extend .bg-white;
  }

  &--yellow {
    @extend .bg-deep-yellow;
  }

  &--pink {
    @extend .bg-peach-pink;
  }

  &__button-container {
    flex-direction: column;

    @media ($medium-up) {
      flex-direction: row;
    }
  }

  &__button-container {
    flex-direction: column;

    @media ($medium-up) {
      flex-direction: row;
    }
  }
}
