@import 'settings', 'typography';

.PressCard {
  border: spacing(0.7) solid color('light-gray');
  width: spacing(76);
  min-height: spacing(96);
  border-radius: radius('s');

  &__logo {
    width: spacing(25);
    height: spacing(14);
    object-fit: contain;
  }

  &__quote {
    font-size: $font-5;
    @media ($medium-up) {
      font-size: spacing(5.2);
    }
  }

  &__button {
    font-size: $font-2;
    letter-spacing: spacing(0.2);
  }
}
