@import 'settings';

.HorizontalCarousel {
  &__wrapper {
    flex-direction: column;

    @media ($medium-up) {
      flex-direction: row;
      overflow: scroll;
    }
  }

  &__title-container {
    align-items: center;

    @media ($medium-up) {
      align-items: flex-start;
      margin-left: spacing(40);
    }
  }

  &__title {
    width: spacing(90);
  }

  &__card {
    margin: spacing(4);
<<<<<<< HEAD
    min-width: spacing(60);

    @media ($medium-up) {
      min-width: spacing(75);
=======
    width: spacing(60);

    @media ($medium-up) {
      width: spacing(75);
>>>>>>> Add function to sort cards by latest and ability to set number of card you want to show
    }
  }

  &__carousel-container {
    overflow: scroll;

    @media ($medium-up) {
      margin-left: spacing(32);
      overflow: visible;
    }

    > .HorizontalCarousel__card:first-child {
      margin-left: spacing(8);
    }

    > .HorizontalCarousel__card:last-child {
      margin-right: spacing(8);
    }
  }

  &__logo {
    width: spacing(21);
    height: spacing(10);
    object-fit: contain;
  }

  &__quote {
    font-size: $font-5;
    margin-bottom: spacing(6);

    @media ($medium-up) {
      font-size: $font-6;
      margin-bottom: spacing(16);
    }
  }
}
