@import 'settings';

.FooterNewsletter {
  flex-direction: column;

  @media ($medium-up) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__container {
    flex-direction: column;
    width: 100%;

    @media ($medium-up) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__text {
    font-family: $font-carter;
    font-size: $font-6;

    @media ($medium-up) {
      margin-right: spacing(6);
    }
  }

  &__image {
    width: 4%;
  }

  &__text-field {
    width: 100%;

    @media ($medium-up) {
      width: 60%;
      margin-right: spacing(6);
    }
  }
}
