@import 'settings';

.FooterNewsletter {
  margin-top: spacing(28);
  flex-direction: column;

  @media ($medium-up) {
    flex-direction: row;
  }

  &__container {
    flex-direction: column;
    width: 100%;

    @media ($medium-up) {
      flex-direction: row;
      width: 50%;
      justify-content: center;
    }
  }

  &__text-container {
    @media ($medium-up) {
      margin-right: spacing(6);
    }
  }

  &__help-text {
    top: spacing(-4);
  }

  &__text {
    font-family: $font-carter;
    font-size: $font-6;
  }

  &__text-field {
    width: 100%;

    @media ($medium-up) {
      width: 60%;
      margin-right: spacing(6);
    }

    input {
      padding-top: calc(#{spacing(4)} + 0.1875rem);
      padding-bottom: calc(#{spacing(4)} - 0.1875rem);
    }
  }
}
