@import 'settings', 'src/styles/typography';

.Dropdown {
  animation-name: bg;
  animation-duration: 1s;
  width: auto;

  * {
    width: auto;
  }

  &--fixedWidth {
    width: 100%;

    :global {
      .Select-control {
        width: 100%;
      }

      .Select-multi-value-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  :global {
    .Select-arrow-zone {
      display: inline-block;
      margin-left: spacing(4);
      width: spacing(4);
    }

    .Select-placeholder,
    .Select-value {
      color: color('peach');
      font-weight: 800;
    }

    .Select-control {
      display: inline-flex;
      height: $font-5;
    }

    .Select-menu-outer {
      position: relative;

      .Select-menu {
        background: color('white');
        border-radius: radius('s');
        box-shadow: $drop-shadow-large;
        position: absolute;
        top: 0;
        left: spacing(-2);
        overflow: hidden;
        opacity: 0;
        white-space: nowrap;
        width: auto;
        transform: translate3d(0, spacing(-2), 0);
        transition: $transition;
      }

      .Select-option {
        background: color('white');
        border-bottom: spacing(0.25) solid color('yellow');
        padding: spacing(3) spacing(6);
        transition: $transition;

        &:last-of-type {
          border-bottom: 0;
        }

        &:hover {
          background: color('light-yellow');
        }
      }
    }
  }

  &--open {
    :global {
      .Select-menu-outer .Select-menu {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &--small {
    .Dropdown--label {
      color: color('gray');
      font-size: $font-3;
    }

    :global {
      .Select-placeholder {
        color: color('white');
      }
    }
  }

  &--square,
  &--square--selected {
    display: flex;
    align-items: center;
    border-radius: radius('xs');
    border: spacing(0.6) solid color('gray');
    padding: spacing(5) spacing(6);
    padding-top: spacing(5) + 0.125rem;
    padding-bottom: spacing(5) - 0.125rem;

    @media ($medium-up) {
      padding-top: spacing(5) + 0.1875rem;
      padding-bottom: spacing(5) - 0.1875rem;
    }

    :global {
      .Select-menu-outer {
        width: calc(100% + #{spacing(12)});
        left: spacing(-6);

        .Select-menu {
          border-top-right-radius: radius('xs');
          border-top-left-radius: radius('xs');
          width: 120%;
          left: 0;
        }
      }

      .Select-placeholder {
        color: color('dusty-gray');
      }

      .Select-value {
        color: color('madison-blue');
      }

      .Select {
        width: 100%;
      }

      .Select-control {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .Select-menu-outer .Select-menu {
        opacity: 1;
        width: 100%;
        transform: translate3d(0, spacing(6), 0);
      }
    }
  }

  &--square--selected {
    border: spacing(0.6) solid color('madison-blue');
  }

  &--secondary {
    :global {
      .Select {
        background: color('white');
        border-radius: radius('l');
        height: auto;

        .Select-option {
          padding: spacing(4) spacing(6);
        }

        &.w100 {
          .Select-control {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: auto;
            padding: spacing(5) spacing(8) spacing(4);
            padding-top: spacing(5) + 0.0625rem;
            padding-bottom: spacing(4) - 0.0625rem;
          }

          .Select-menu {
            width: 100%;
            left: auto;
            top: 1px;
            transform: translate3d(0, 0, 0);
          }
        }

        .Select-input {
          display: none !important;
        }

        &.is-open {
          .Select-input {
            display: inherit;
          }
        }
      }
    }
  }

  &--center {
    :global {
      .Select-control {
        width: 100%;
      }

      .Select-multi-value-wrapper {
        width: 100%;
        text-align: center;
      }
    }
  }

  &--background-clear-madison-blue-border {
    :global {
      .Select {
        background: transparent;
      }
      .Select-control {
        border-radius: radius('l');
        border: spacing(1) solid color('madison-blue');
      }
    }
  }

  &--text-madison-blue {
    :global {
      .Select-placeholder,
      .Select-value {
        color: color('madison-blue');
      }
    }
  }

  &--text-peach {
    :global {
      .Select-placeholder,
      .Select-value {
        color: color('peach');
      }
    }
  }
}
