/*
Import global settings
*/
@import 'settings';

/*
Manual Resets
*/
*:focus {
  outline-color: lightgray;
}

/*
Dimension classes
*/

.App {
  max-width: 100vw;
}

.container {
  min-height: calc(100vh - #{$header-height-desktop});
}

.content-width {
  max-width: 82.5rem;
}

.container-width {
  max-width: 74rem;
}

.form-container-width {
  max-width: 48rem;
}

.text-container-width {
  max-width: 36rem;
}

.content-wrapper {
  padding-top: $header-height-mobile;

  @media ($medium-up) {
    padding-top: $header-height-desktop;
  }
}

.object-fit {
  object-fit: cover;
}

.drip {
  position: relative;

  &::after {
    background: inherit;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 1px);
    width: 100%;
  }

  &:nth-child(3n + 0) {
    &::after {
      mask: url('/assets/images/polygon.svg') repeat-x;
      bottom: -62px;
      height: 62px;
    }
  }

  &:nth-child(3n + 1) {
    &::after {
      mask: url('/assets/images/polygon-1.svg') repeat-x;
      bottom: -105px;
      height: 105px;
    }
  }

  &:nth-child(3n + 2) {
    &::after {
      mask: url('/assets/images/polygon-2.svg') repeat-x;
      bottom: -105px;
      height: 105px;
    }
  }

  & + div {
    padding-top: spacing(32);

    &.drip-padding-on-children {
      padding-top: 0;

      > div {
        padding-top: spacing(32);
      }
    }
  }
}

/*
Drop shadows
*/
.drop-shadow {
  box-shadow: $drop-shadow;
}

.drop-shadow-large {
  box-shadow: $drop-shadow-large;
}

.drop-shadow-xlarge {
  box-shadow: $drop-shadow-xlarge;
}

/*
UI elements
*/
.sub-line-item {
  line-height: spacing(6);
}

.arrow {
  width: spacing(10);
}

.card {
  border-radius: radius('m');
  overflow: hidden;

  &--light-gray-border {
    border: spacing(0.8) solid color('light-gray');
  }
}

.tag {
  @extend .tag-text;
  padding: calc(#{spacing(3)} + 3px) spacing(6) spacing(3);
  border-radius: radius('l');

  @media ($medium-up) {
    border-radius: radius('m');
    padding: calc(#{spacing(1)} + 1px) spacing(3) spacing(1);
  }
}

.icon {
  width: spacing(9);
}

.icon-small {
  width: spacing(6);
}
