/*
Import global settings
*/
@import 'settings';

/*
Manual Resets
*/
*:focus {
  outline-color: lightgray;
}

/*
Dimension classes
*/

.App {
  max-width: 100vw;
  overflow: hidden;
}

.container {
  min-height: 100vh;
}

.container-width {
  max-width: 74rem;
}

.drip {
  position: relative;

  &::after {
    background: inherit;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
  }

  &:nth-child(3n + 0) {
    &::after {
      mask: url('/assets/images/polygon.svg') no-repeat;
      mask-position: center;
      mask-size: cover;
      bottom: -120px;
      height: 120px;
    }
  }

  &:nth-child(3n + 1) {
    &::after {
      mask: url('/assets/images/polygon-1.svg') no-repeat;
      mask-position: center;
      mask-size: cover;
      bottom: -105px;
      height: 105px;
    }
  }

  &:nth-child(3n + 2) {
    &::after {
      mask: url('/assets/images/polygon-2.svg') no-repeat;
      mask-position: center;
      mask-size: cover;
      bottom: -120px;
      height: 120px;
    }
  }

  & + div {
    padding-top: spacing(32);
  }
}

/*
Drop shadows
*/
.drop-shadow {
  box-shadow: $drop-shadow;
}

.drop-shadow-large {
  box-shadow: $drop-shadow-large;
}

.drop-shadow-xlarge {
  box-shadow: $drop-shadow-xlarge;
}

/*
UI elements
*/
.arrow {
  width: spacing(10);
}

.card {
  border-radius: spacing(4);
}

.tag {
  @extend .tag-text;
  border-radius: 10% / 50%;
  padding: spacing(1) spacing(3);
}

.icon {
  width: spacing(9);
}

.close-button {
  width: spacing(5);
  cursor: pointer;
}
