/*
Import global settings
*/
@import 'settings';

/*
Dimension classes
*/
.container {
  min-height: 100vh;
}

/*
Drop shadows
*/
.drop-shadow {
  box-shadow: $drop-shadow;
}

/*
Button
*/
.button {
  background-color: color('peach');
  border: solid 0px color('peach');
  border-radius: 0.5rem;
  padding: spacing(3.5) spacing(6);
  color: color('white');
  font-size: $font-4;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    background-color: red; /* hover color for button*/
  }

  &:focus {
    /*focus style*/
  }
}
