@import 'settings';

body {
  color: color('madison-blue');
  font-family: $font-avenir;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  transition: $transition;

  &:hover {
    color: color('denim');
  }
}

em {
  font-style: italic;
}

strong {
  @extend .bold;
}

.text-hover {
  &:hover {
    color: inherit;
    position: relative;

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      width: 100%;
      border-bottom: spacing(0.5) solid color('white');
    }
  }
}

.carter {
  font-family: $font-carter;
}

.avenir {
  font-family: $font-avenir;
}

.light {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

.line-height {
  line-height: 1.6rem;
}

.link-text {
  font-weight: 800;
  text-decoration: none;
  font-size: $font-3;

  @media ($small-up) {
    font-size: $font-4;
  }
}

.block-headline {
  font-family: $font-carter;
  font-size: $font-6;
  line-height: $font-7;

  @media ($medium-up) {
    font-size: $font-7;
    line-height: $font-8;
  }
}

.block-headline-mobile-small {
  font-family: $font-carter;
  font-size: $font-5;

  @media ($medium-up) {
    font-size: $font-7;
  }
}

.block-subheadline {
  font-size: $font-3;
  line-height: $font-6;
  letter-spacing: spacing(0.1);

  @media ($medium-up) {
    font-size: $font-4;
    line-height: $font-7;
  }
}

.title {
  font-size: $font-7;
}

.sub-title {
  font-family: $font-carter;
  font-size: $font-6;

  @media ($medium-up) {
    font-size: $font-5;
  }
}

.callout {
  font-family: $font-carter;
  font-size: $font-5;
}

.callout-small {
  font-family: $font-carter;
  font-size: $font-2;

  @media ($medium-up) {
    font-size: $font-4;
  }
}

.copy {
  font-size: $font-3;
  line-height: $font-7;
}

.detail {
  font-size: $font-2;
  line-height: $font-6;
}

.description-title {
  font-size: $font-4;

  @media ($medium-up) {
    font-size: $font-5;
  }
}

.description {
  font-size: $font-2;
  line-height: $font-6;

  @media ($medium-up) {
    font-size: $font-5;
    line-height: $font-7;
  }
}

.line-item-title {
  @extend .bold;
  font-size: $font-3;
  letter-spacing: spacing(0.1);
}

.tout {
  font-size: $font-3;
  letter-spacing: spacing(0.2);
  line-height: $font-3;
}

.small {
  font-size: $font-3;
}

.big {
  font-size: $font-5;
}

.tag-text {
  font-size: $font-4;
  font-weight: 800;

  @media ($medium-up) {
    text-transform: uppercase;
    font-size: 0.4rem;
    font-weight: 400;
  }
}

.info-text-wide {
  font-size: $font-1;
  letter-spacing: spacing(0.1);
}

.info-text-small {
  font-size: 0.6875rem;
  letter-spacing: spacing(0.1);
  line-height: $font-6;
}

.price-text {
  @extend .bold;
  font-size: $font-4;

  @media ($medium-up) {
    font-size: $font-3;
  }
}
