@import 'settings';

body {
  color: color('madison-blue');
  font-family: $font-avenir;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;

  &:hover {
    color: red;
  }
}

em {
  font-style: italic;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

.line-height-mid {
  line-height: $font-7;
}

.link-text {
  font-size: $font-4;
  font-weight: 600;
  text-decoration: none;
}

.block-headline {
  font-family: $font-carter;
  font-size: $font-7;
}

.title {
  font-size: $font-7;
}

.callout {
  font-family: $font-carter;
  font-size: $font-5;
}

.callout-small {
  font-family: $font-carter;
  font-size: $font-4;
}

.copy {
  font-size: $font-3;
  font-weight: 600;
  line-height: $font-7;
}

.description {
  font-size: $font-2;
  line-height: $font-6;

  @media ($medium-up) {
    font-size: $font-5;
    line-height: $font-7;
  }
}

.line-item-title {
  @extend .bold;
  font-size: $font-3;
  letter-spacing: spacing(0.1);
}

.small {
  font-size: $font-3;
}

.big {
  font-size: $font-5;
}

.tag-text {
  font-size: 0.4rem;
}

.info-text-big {
  font-size: $font-2;
}

.info-text-small {
  font-size: $font-1;
}
