@import 'settings';

body {
  color: color('denim');
  font-family: $font-avenir;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;

  &:hover {
    color: red;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.link-text {
  font-size: $font-4;
  font-weight: 600;
  color: color('peach');
  text-decoration: none;
}

.block-headline {
  font-family: $font-carter;
  font-size: $font-7;
}

.callout {
  font-family: $font-carter;
  font-size: $font-5;
}

.callout-small {
  font-family: $font-carter;
  font-size: $font-4;
}

.copy {
  font-size: $font-3;
  font-weight: 600;
  line-height: $font-7;
}

.description {
  font-size: $font-2;
  line-height: $font-6;

  @media ($medium-up) {
    font-size: $font-5;
    line-height: $font-7;
  }
}

.Footer__text {
  font-family: $font-avenir;

  .Footer__sub-title-text {
    font-size: $font-5;
    font-weight: 800;
  }

  .Footer__content-title-text {
    font-size: $font-3;
    font-weight: 800;
  }

  .Footer__content-text {
    font-size: $font-3;
    font-weight: 100;
  }

  .Footer__licence-text {
    font-size: $font-3;
    font-weight: 800;
  }
}

.title-text {
  font-family: $font-avenir;
  font-size: $font-7;
  font-weight: 800;
}
