@import 'settings', 'src/styles/utils';

.Carousel {
  @extend .transition;
  display: none;
  opacity: 0;

  &--active {
    display: flex;
    opacity: 1;
  }

  &--shadow-right {
    transform: scale(0.85);
    display: flex;
    opacity: 0.5;
    position: absolute;
    left: 83%;
    bottom: 7%;
  }

  &--shadow-left {
    transform: scale(0.85);
    display: flex;
    opacity: 0.5;
    position: absolute;
    right: 83%;
    bottom: 7%;
  }

  &__indicator {
    background-color: color('peach');
    width: spacing(2);
    margin: spacing(1);

    &--active {
      background-color: transparent;
      width: spacing(3);
      border: spacing(0.5) solid color('peach');
    }
  }
}
// .Carousel {
//   @extend .pointer;
//   box-shadow: $drop-shadow;
//   font-family: $font-avenir;
//   font-size: $font-4;
//   font-weight: 800;
//   white-space: nowrap;
//   transform: translate3d(0, spacing(-0.5), 0);
//   transition: $transition;

//   &:hover {
//     box-shadow: $drop-shadow;
//     transform: translate3d(0, spacing(-0.25), 0);
//   }

//   &:active {
//     box-shadow: 0 0 0 0;
//     transform: translate3d(0, spacing(0.25), 0);
//   }

//   &--disabled {
//     box-shadow: 0 0 0 0;
//     pointer-events: none;
//     transform: translate3d(0, 0, 0);
//     opacity: 0.8;
//   }
// }
