@import 'settings', 'src/styles/utils';

$transition-duration: 0.2;

.LocationCard {
  &__card-container {
    @extend .pointer;
    text-decoration: none;
    border-radius: radius('s');
    max-width: spacing(100);
    transform: translate3d(0, spacing(-0.5), 0);
    transition: $transition;

    &:hover {
      color: inherit;
      box-shadow: $drop-shadow;
      transform: translate3d(0, spacing(-0.25), 0);
    }

    &:active {
      transform: translate3d(0, spacing(0.25), 0);
    }

    &--selected {
      box-shadow: $drop-shadow-large;
      transform: scale(1.05);
    }
  }

  &__card-seasonal-image {
    width: spacing(18);
    height: spacing(18);
    top: spacing(37);
    right: spacing(10);
    font-size: $font-2;

    @media ($medium-up) {
      top: spacing(48);
    }
  }

  &__card-image {
    border-top-right-radius: radius('s');
    border-top-left-radius: radius('s');
    height: spacing(50);

    @media ($medium-up) {
      height: spacing(60);
    }
  }

  &__card-text {
    margin-top: spacing(1.5);
  }

  &__card-tag {
    padding: spacing(3) spacing(5) spacing(2);
    border-radius: radius('l');
    letter-spacing: spacing(0.2);
    font-size: $font-2;
  }

  &__card-drip {
    position: relative;

    &::before {
      background-color: color('white');
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: spacing(-8);
      width: 100%;
      height: spacing(10);
      mask: url('/assets/images/card-polygon.svg') no-repeat;
      mask-position: center;
      mask-size: cover;
    }
  }
}
