@import 'settings';

.FormFlash {
  background: color('light-yellow');
  border-radius: spacing(2);
  color: color('madison-blue');

  &--success {
    background: color('seafoam');
    color: color('madison-blue');
  }

  &--error {
    background: color('light-pink');
    color: color('peach');
  }
}
