@import 'settings', 'typography';

.GenericHero {
  @extend .text-madison-blue;

  &--white {
    @extend .bg-white;
  }

  &--yellow {
    @extend .bg-yellow;
  }

  &--light-yellow {
    @extend .bg-light-yellow;
  }

  &--mustard {
    @extend .bg-deep-yellow;
  }

  &--blue {
    @extend .bg-sky-blue;
  }

  &--light-turquoise {
    @extend .bg-light-turquoise;
  }

  &--pink {
    @extend .bg-light-pink;
  }

  &--light-pink {
    @extend .bg-baby-pink;
  }

  &--light-peach {
    @extend .bg-light-peach;
  }

  &--light-orange {
    @extend .bg-light-orange;
  }

  &--peach-pink {
    @extend .bg-peach-pink;
  }

  &--yellow-green {
    @extend .bg-yellow-green;
  }

  &--light-yellow-green {
    @extend .bg-light-yellow-green;
  }

  &__content-container {
    flex-direction: column;

    @media ($medium-up) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__content-container--reverse {
    @media ($medium-up) {
      flex-direction: row-reverse;
    }
  }

  &__text-container--image-right {
    text-align: center;

    @media ($medium-up) {
      text-align: left;
    }
  }

  &__image {
    max-height: spacing(100);
    object-fit: contain;
  }

  &__button {
    @media ($medium-up) {
      padding-top: calc(#{spacing(4)} + 0.125rem);
      padding-bottom: calc(#{spacing(4)} - 0.125rem);
    }
  }

  &__two-images {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media ($medium-up) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
