@import 'settings', 'typography';

.GenericHero {
  @extend .text-madison-blue;

  &--blue {
    @extend .bg-sky-blue;
  }

  &--yellow {
    @extend .bg-bees-wax;
  }

  &--mustard {
    @extend .bg-goldenrod;
  }

  &--peach {
    @extend .bg-light-peach;
  }

  &__content-container {
    flex-direction: column;

    @media ($medium-up) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__content-container--reverse {
    @media ($medium-up) {
      flex-direction: row-reverse;
    }
  }

  &__text-container--image-right {
    text-align: center;

    @media ($medium-up) {
      text-align: left;
    }
  }

  &__image {
    max-height: spacing(100);
    object-fit: contain;
  }

  &__button {
    padding-top: calc(#{spacing(4)} + 0.125rem);
    padding-bottom: calc(#{spacing(4)} - 0.125rem);
  }

  &__two-images {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media ($medium-up) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
