@import 'settings', 'typography';

.ImageText {
  @extend .text-madison-blue;

  &--white {
    @extend .bg-white;
  }

  &--pink {
    @extend .bg-light-pink;
  }

  &--blue {
    @extend .bg-sky-blue;
  }

  &--light-peach {
    @extend .bg-light-peach;
  }

  &--peach {
    @extend .bg-peach-pink;
  }

  &--light-pink {
    @extend .bg-baby-pink;
  }

  &--mustard {
    @extend .bg-goldenrod;
  }

  &--yellow {
    @extend .bg-marigold-yellow;
  }

  &--light-yellow {
    @extend .bg-bees-wax;
  }

  &__container {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 spacing(8);

    @media ($medium-up) {
      flex-direction: row;
      margin: 0 spacing(16);
    }

    .ImageText__image {
      min-width: spacing(65);
      margin-top: spacing(12);

      @media ($small-down) {
        transform: translate(0, 0) !important;
      }

      @media ($medium-up) {
        order: 1;
        align-self: flex-end;
        margin-right: spacing(18);
        margin-top: auto;
      }
    }

    .ImageText__text-content {
      @media ($medium-up) {
        order: 2;
        margin-left: spacing(18);
      }
    }
  }

  &__container--reverse {
    .ImageText__image {
      min-width: spacing(65);
      margin-right: auto;

      @media ($medium-up) {
        order: 2;
        align-self: flex-end;
        margin-right: 0;
        margin-left: spacing(18);
      }
    }

    .ImageText__text-content {
      @media ($medium-up) {
        order: 1;
        margin-left: 0;
        margin-right: spacing(18);
      }
    }
  }

  &__container--full-image {
    margin: 0;

    @media ($medium-up) {
      margin: 0;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .ImageText__text-content {
      padding: 0 spacing(8);

      @media ($medium-up) {
        order: 1;
        margin: 0;
        padding: 0 spacing(16) 0 0;
      }
    }

    .ImageText__text-content--reverse {
      @media ($medium-up) {
        padding: 0 0 0 spacing(16);
      }
    }
  }

  &__button-container {
    justify-content: space-between;

    @media ($medium-up) {
      justify-content: start;
    }
  }

  &__button {
    display: inline-flex;
    padding-top: calc(#{spacing(4)} + 0.125rem);
    padding-bottom: calc(#{spacing(4)} - 0.125rem);
  }

  &__button {
    display: inline-flex;
  }
}

.ImageText__full-image {
  flex-direction: column-reverse;

  @media ($medium-up) {
    flex-direction: row;
  }
}

.ImageText__full-image--reverse {
  @media ($medium-up) {
    flex-direction: row-reverse;
  }
}
