@import 'settings';

.Alert {
  height: $alert-height-mobile;
  font-size: $font-1;

  @media ($medium-up) {
    height: $alert-height-desktop;
    font-size: $font-2;
  }

  &__order-now {
    margin-left: spacing(1);
  }
}
