@import 'settings';

.Alert {
  height: $alert-height-mobile;

  @media ($medium-up) {
    height: $alert-height-desktop;
  }

  &__text {
    font-size: $font-1;

    @media ($medium-up) {
      font-size: $font-2;
    }
  }

  &__order-now {
    margin: spacing(1) spacing(1) 0;
  }
}
