@import 'settings';

.NewsletterModal {
  top: calc(#{$header-height-mobile} + #{spacing(4)});
  transform: translate3d(spacing(180), 0, 0);
  transition: transform 0.7s ease;
  max-width: 100%;

  @media ($medium-up) {
    max-width: 24rem;
    top: calc(#{$header-height-desktop} + #{spacing(8)});
  }

  &--active {
    transform: translate3d(0, 0, 0);
  }

  &__title {
    font-family: $font-carter;
    font-size: $font-5;
  }

  &__close {
    width: spacing(3);
  }

  &__text-field {
    transform: translate3d(0, spacing(-0.5), 0);
    input {
      padding-top: spacing(2) + 0.0625rem;
      padding-bottom: spacing(2) - 0.0625rem;
    }
  }
}
