@import 'settings', 'typography', 'utils';

.FAQBlock {
  flex-direction: column;

  @media ($medium-up) {
    flex-direction: row;
  }

  &__block-title-container {
    justify-content: flex-start;

    @media ($medium-up) {
      justify-content: center;
    }
  }

  &__block-title-wrapper {
    justify-content: center;

    @media ($medium-up) {
      justify-content: flex-start;
      margin: 0 spacing(8);
    }
  }

  &__block-title {
    justify-content: center;

    @media ($medium-up) {
      justify-content: flex-start;
    }
  }

  &__title {
    margin-top: spacing(16);

    &:first-child {
      margin-top: 0;
    }
  }

  &__arrow {
    width: spacing(4);
    margin-top: spacing(4);

    @media ($medium-up) {
      margin-top: spacing(2);
    }
  }

  &__question {
    border: 0;
    white-space: normal;
    text-align: start;
    margin: spacing(2) 0;
    line-height: $font-7;

    @media ($medium-up) {
      margin: 0;
    }
  }

  &__answer {
    border-bottom: solid 1px color('gray');
  }
}
