@import 'settings', 'typography';

.EventDetailHero {
  &__content-container {
    flex-direction: column;
    padding: 0 spacing(8);

    @media ($medium-up) {
      flex-direction: row;
      padding: 0 spacing(16);
    }
  }

  &__image {
    margin: 0 0 spacing(12);

    @media ($medium-up) {
      margin-right: 0 spacing(8) 0 0;
    }
  }

  &__content-text {
    @extend .bold;
    font-size: $font-5;

    @media ($medium-up) {
      font-size: $font-6;
    }
  }

  &__location-container {
    flex-direction: column;

    @media ($medium-up) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__text-container {
    @media ($medium-up) {
      padding: 0 spacing(16);
    }
  }

  &__map-button {
    padding-top: spacing(2) + 0.0625rem;
    padding-bottom: spacing(2) - 0.0625rem;
    margin-top: spacing(4);

    @media ($medium-up) {
      margin-top: 0;
    }
  }

  &__quantity-selector {
    flex-grow: 1;
    justify-content: flex-end;

    @media ($medium-up) {
      margin-right: spacing(4);
      justify-content: flex-start;
    }
  }

  &__action-button {
    padding-top: spacing(2) + 0.0625rem;
    padding-bottom: spacing(2) - 0.0625rem;
    letter-spacing: spacing(0.2);
    margin-left: auto;

    @media ($medium-up) {
      margin-left: inherit;
      padding-top: spacing(4) + 0.0625rem;
      padding-bottom: spacing(4) - 0.0625rem;
    }
  }

  &__modal {
    align-items: flex-start;

    @media ($medium-up) {
      align-items: center;
    }
  }

  &__modal-content-container {
    min-height: 100%;
    width: 100%;
    padding: 0 spacing(4);

    @media ($medium-up) {
      //.text-container-width
      min-height: inherit;
      max-width: 36rem;
      border-radius: radius('m');
    }
  }

  &__modal-close-button {
    margin: spacing(4);

    @media ($medium-up) {
      margin: spacing(8);
    }
  }

  &__text-field {
    input {
      padding-top: spacing(4) + 0.125rem;
      padding-bottom: spacing(4) - 0.125rem;
    }
  }
}
