@import 'settings';

.PressCarousel {
  &__card {
    border-radius: radius('s');
    margin: spacing(4);
<<<<<<< HEAD
    width: spacing(65);

    @media ($medium-up) {
      width: spacing(75);
=======
    min-width: spacing(65);

    @media ($medium-up) {
      min-width: spacing(75);
>>>>>>> Make HorizontalCarousel base component
    }
  }

  &__logo {
    width: spacing(21);
    height: spacing(10);
    object-fit: contain;
  }

  &__quote {
    font-size: $font-5;
    margin-bottom: spacing(6);

    @media ($medium-up) {
      font-size: $font-6;
      margin-bottom: spacing(16);
    }
  }

  &__button {
    > span {
      margin-bottom: 1px;
    }
  }
}
