@import 'settings', 'typography', 'utils';

.EventCard {
  @extend .transition;
  display: none;
  opacity: 0;
  border-radius: radius('s');
  height: spacing(144);
  max-width: spacing(86);
  flex-direction: column;

  @media ($medium-up) {
    max-width: inherit;
    min-width: spacing(200);
    height: spacing(96);
    flex-direction: row;
  }

  &--active {
    display: flex;
    opacity: 1;
  }

  &__image {
    border-top-left-radius: radius('s');
    border-top-right-radius: radius('s');
    height: spacing(72);

    @media ($medium-up) {
      border-radius: 0;
      border-top-left-radius: radius('s');
      border-bottom-left-radius: radius('s');
      height: spacing(96);
    }
  }

  &__text-container {
    padding: spacing(8);
    height: spacing(72);

    @media ($medium-up) {
      padding: spacing(16);
      height: 100%;
    }
  }

  &__title {
    font-family: $font-carter;
    font-size: $font-5;

    @media ($medium-up) {
      font-size: $font-6;
    }
  }

  &__button {
    display: inline-flex;
  }
}
