@import 'settings', 'typography', 'utils';

.EventCard {
  @extend .transition;
  display: none;
  opacity: 0;
  border-radius: radius('s');
  min-height: spacing(144);
  max-width: spacing(86);
  flex-direction: column;

  @media ($medium-up) {
    max-width: inherit;
    min-width: spacing(200);
    min-height: spacing(96);
    flex-direction: row;
  }

  &--active {
    display: flex;
    opacity: 1;
  }

  &__image {
    border-top-left-radius: radius('s');
    border-top-right-radius: radius('s');
    height: spacing(72);

    @media ($medium-up) {
      border-radius: 0;
      border-top-left-radius: radius('s');
      border-bottom-left-radius: radius('s');
      height: inherit;
      flex: auto;
    }
  }

  &__text-container {
    padding: spacing(8);
    flex: auto;

    @media ($medium-up) {
      padding: spacing(12);
    }
  }

  &__date-text {
    font-size: $font-2;
    letter-spacing: spacing(0.2);
    line-height: $font-6;
    color: color('peach');
    font-weight: 800;

    @media ($medium-up) {
      font-size: $font-3;
      color: color('madison-blue');
      font-weight: inherit;
    }
  }

  &__text {
    @extend .tout;
    line-height: $font-6;

    > strong {
      @extend .bold;
    }
  }

  &__text-container {
    padding: spacing(8);
    height: spacing(72);

    @media ($medium-up) {
      padding: spacing(12);
      height: 100%;
    }
  }

  &__text {
    @extend .tout;
    line-height: $font-6;
  }

  &__title {
    font-family: $font-carter;
    font-size: $font-5;

    @media ($medium-up) {
      font-size: $font-6;
    }
  }

  &__button {
    display: inline-flex;
  }
}
