@import 'settings', 'src/styles/utils';

.SubNav {
  display: flex;
  position: sticky;
  height: 0;
  top: calc(
    #{spacing(8)} + #{$header-height-desktop} + #{$alert-height-desktop}
  );

  @media ($medium-up) {
    top: calc(
      #{spacing(16)} + #{$header-height-desktop} + #{$alert-height-desktop}
    );
  }

  &__button {
    border-radius: radius('l');
    height: $button-primary-height;
    box-shadow: $drop-shadow;
  }

  &__menu {
    margin-bottom: 2px;
  }

  &__dropdown {
    margin-bottom: 2px;
  }
}
