@import 'settings';

.ContactUs {
  padding: spacing(16) spacing(4);

  @media ($medium-up) {
    padding: spacing(16);
  }

  &__button-container {
    justify-content: flex-end;

    @media ($medium-up) {
      justify-content: center;
    }
  }

  &__text-field {
    input {
      padding-top: calc(#{spacing(4)} + 0.0625rem);
      padding-bottom: calc(#{spacing(4)} - 0.0625rem);
    }
  }
}
