$colors: (
  'white': #fff,
  'light-gray': #ededed,
  'gray': #d8d8d8,
  'ghost-gray': #b7b9bf,
  'dusty-gray': #979797,
  'dark-gray': #4d5859,
  'heavy-gray': #4a4f55,
  'black': #222,
  'light-orange': #f7cbb2,
  'peach-pink': #fdbfb5,
  'light-peach': #ffdbd5,
  'pastel-peach': #ffdfcd,
  'lavender-blush': #ffe9ef,
  'baby-pink': #ffeeee,
  'light-pink': #ffe4eb,
  'pink': #feb9c7,
  'sea-peach': #e05856,
  'peach': #fe5c60,
  'burgundy': #d14b49,
  'purple': #5d0b36,
  'turquoise-blue': #6ba6a9,
  'dark-bay-blue': #345e77,
  'madison-blue': #13436d,
  'denim': #1a6db6,
  'pastel-blue': #6587d9,
  'seafoam': #e5fcf9,
  'sky-blue': #d7f6ff,
  'navy': #08133d,
  'green': #238674,
  'yellow-green': #e1e59c,
  'light-yellow-green': #e0ead7,
  'turquoise': #589f88,
  'light-turquoise': #d1dfd7,
  'golden-yellow': #f6ae16,
  'off-white-yellow': #fffaed,
  'light-yellow': #fff2d0,
  'yellow': #fce29f,
  'deep-yellow': #ffda8c,
  'white-wash': rgba(255, 255, 255, 0.5),
  'white-wash-blur': rgba(255, 255, 255, 0.8)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@each $name, $color in $colors {
  .text-#{$name} {
    color: #{$color};
  }

  .bg-#{$name} {
    background-color: #{$color};
  }
}
