$colors: (
  'white': #fff,
  'light-gray': #ededed,
  'gray': #d8d8d8,
  'dark-gray': #4d5859,
  'black': #222,
  'peach': #fe5c60,
  'light-peach': #ffdbd5,
  'peach-pink': #fdbfb5,
  'baby-pink': #ffeeee,
  'light-pink': #ffe4eb,
  'pink': #ffdce3,
  'pastel-pink': #feb9c7,
  'denim': #1a6db6,
  'pastel-blue': #6587d9,
  'sky-blue': #d7f6ff,
  'madison-blue': #13436d,
  'seafoam': #e5fcf9,
  'iceberg': #ccf0f1,
  'goldenrod': #fce29f,
  'light-yellow': #fff6e0,
  'off-yellow': #fffce3,
  'marigold-yellow': #fce29f,
  'yellow': #fce8b6,
  'deep-yellow': #ffda8c,
  'bees-wax': #ffefc6,
  'varden': #fff6dc,
  'island-spice': #fffaed,
  'white-wash': rgba(255, 255, 255, 0.5),
  'white-wash-blur': rgba(255, 255, 255, 0.8)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@each $name, $color in $colors {
  .text-#{$name} {
    color: #{$color};
  }

  .bg-#{$name} {
    background-color: #{$color};
  }
}
