$colors: (
  'white': #fff,
  'black': #222,
  'peach': #fe5c60,
  'denim': #1a6db6,
  'sky-blue': #d7f6ff,
  'madison-blue': #13436d,
  'goldenrod': #fce29f,
  'varden': #fff6dc
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@each $name, $color in $colors {
  .text-#{$name} {
    color: #{$color};
  }

  .bg-#{$name} {
    background-color: #{$color};
  }
}
