$font-1: 0.625rem;
$font-2: 0.75rem;
$font-3: 0.875rem;
$font-4: 1rem;
$font-5: 1.5rem;
$font-6: 2rem;
$font-7: 2.5rem;
$font-8: 3rem;

$font-avenir: 'Avenir', arial, sans-serif;
$font-carter: 'Carter One', arial, sans-serif;
