/*
Spacing
*/
@function spacing($units) {
  @return $units * 0.25rem;
}

$spacer: (
  '0': spacing(0),
  's': spacing(2),
  'm': spacing(4),
  'l': spacing(8),
  'xl': spacing(16)
);

@function spacer($spacing-name) {
  @return map-get($spacer, $spacing-name);
}

/*
Border Radius
*/
$radius: (
  '0': spacing(0),
  'xs': spacing(1),
  's': spacing(2),
  'm': spacing(4),
  'l': spacing(8),
  'circle': 50%
);

@function radius($radius-name) {
  @return map-get($radius, $radius-name);
}

/*
Global element shapes
*/
$viewport-height: 100vh;
$drop-shadow: 0 spacing(0.5) spacing(1) 0 rgba(0, 0, 0, 0.2);
$drop-shadow-large: 0 spacing(1) spacing(2) 0 rgba(0, 0, 0, 0.2);
$drop-shadow-xlarge: 0 spacing(1) spacing(6) 0 rgba(0, 0, 0, 0.2);
$header-height-mobile: spacing(20);
$header-height-desktop: spacing(23);
$button-primary-height: spacing(14);
$button-small-height: spacing(10);
$alert-height-mobile: spacing(9);
$alert-height-desktop: spacing(10);
