$transition-duration: 0.35s;
$transition-duration-short: 0.125s;
$transition-duration-medium: 0.5s;
$transition-duration-long: 1s;
$transition-easing: cubic-bezier(0.25, 0.2, 0, 1);
$transition: $transition-duration $transition-easing;

.transition {
  transition: $transition;
}

.transition-slide-up-down {
  opacity: 0;
  transform: translate3d(0, spacing(4), 0);
  animation-duration: $transition-duration-medium;
  pointer-events: none;

  &--active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, spacing(4), 0);
  }

  100% {
    opacity: 1;
    transform: transform3d(0, 0, 0);
  }
}

.transition-slide-up {
  animation: slide-up $transition;
}

@keyframes slide-up-large {
  0% {
    opacity: 0;
    transform: translate3d(0, spacing(8), 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.transition-slide-up-large {
  animation: slide-up-large $transition-duration-medium $transition-easing;
}

.transition-slide-up-large-long {
  animation: slide-up-large $transition-duration-long;
}

@keyframes slide-up-menu {
  0% {
    transform: translateY(spacing(12));
  }

  100% {
    transform: translateY(spacing(1));
  }
}

.transition-slide-up-menu {
  animation: slide-up-menu $transition-duration-medium $transition-easing;
}

@keyframes enter {
  0% {
    opacity: 0;
    box-shadow: $drop-shadow-large;
    transform: translate3d(0, spacing(2), 0);
  }

  100% {
    opacity: 1;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.transition-enter {
  animation: enter $transition-duration-long;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.transition-fade-in {
  animation: fade-in $transition-duration;
}

@keyframes fade-in-color {
  0% {
    background: color('white');
  }

  100% {
    background: color('peach');
  }
}

.transition-fade-in-color {
  animation: fade-in $transition-duration;
}

@keyframes show-hide-dots {
  0%,
  80%,
  100% {
    box-shadow: 0 spacing(10) 0 spacing(-5);
  }
  40% {
    box-shadow: 0 spacing(10) 0 0;
  }
}

.transition-show-hide-dots {
  animation: show-hide-dots 1.8s infinite ease-in-out;
}
