$transition-duration: 0.25s;
$transition-duration-long: 1s;
$transition-duration-short: 0.125s;
$transition-easing: ease-in-out;
$transition: $transition-duration $transition-easing;

.transition {
  transition: $transition;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, spacing(4), 0);
  }

  100% {
    opacity: 1;
    transform: transform3d(0, 0, 0);
  }
}
.transition-slide-up {
  animation: slide-up $transition;
}
