@import 'settings';

.FullWidthImages {
  &__desktop {
    display: none;

    @media ($medium-up) {
      display: block;
    }
  }

  &__mobile {
    @media ($medium-up) {
      display: none;
    }
  }
}
