@import 'settings';

.Footer {
  min-height: spacing(75);
  position: relative;
}

.FooterRegions__container {
  max-height: spacing(180);
}

.Footer__arrow {
  margin-top: spacing(-10);
}

.illustration {
  position: absolute;
  bottom: spacing(16);
  right: spacing(32);
}
