@import 'settings', 'src/styles/typography';

.Footer {
  &__content {
    flex-direction: column;
    align-items: flex-start;
    margin: spacing(16) spacing(8) spacing(8);

    @media ($medium-up) {
      flex-direction: row;
      justify-content: space-between;
      margin: spacing(16) spacing(16) spacing(8);
    }
  }

  &__contact-us-container {
    order: 1;

    @media ($medium-up) {
      height: spacing(72);
      order: 2;
      padding-left: spacing(16);
    }
  }

  &__button {
    margin-top: spacing(8);

    @media ($medium-up) {
      margin-top: spacing(16);
      align-self: flex-end;
    }
  }

  &__link-container {
    margin-top: spacing(16);
    order: 2;

    @media ($medium-up) {
      margin-top: 0;
      order: 1;
    }
  }

  &__link-container-inner {
    flex-wrap: wrap;

    @media ($medium-up) {
      flex-wrap: nowrap;
    }
  }

  &__link-column {
    &:nth-child(2) {
      padding-right: 1rem;

      @media ($medium-up) {
        padding-right: 2.5rem;
      }
    }
  }

  &__link {
    padding-bottom: spacing(1);
    border-bottom: spacing(0.5) solid transparent;
    color: color('white');

    &:hover {
      color: color('white');
      border-bottom: spacing(0.5) solid color('white');
    }
  }

  &__social-links {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;

    @media ($medium-up) {
      margin-top: 0.5rem;
      flex-direction: column;
      width: auto;
    }
  }

  &__social-link {
    margin-right: 3rem;

    @media ($medium-up) {
      margin-right: 0;
    }
  }

  &__illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
  }

  &__copy-rights {
    margin-top: 0;

    @media ($medium-up) {
      margin-top: spacing(40);
    }
  }
}
