@import 'settings', 'src/styles/typography';

.Footer {
  &__content {
    flex-direction: column;
    align-items: flex-start;
    margin: spacing(16) spacing(8) spacing(8);

    @media ($medium-up) {
      flex-direction: row;
      justify-content: space-between;
      margin: spacing(16) spacing(16) spacing(8);
    }
  }

  &__contact-us-container {
    order: 1;

    @media ($medium-up) {
      height: spacing(80);
      order: 2;
      padding-left: spacing(16);
    }
  }

  &__button {
    margin-top: spacing(8);

    @media ($medium-up) {
      margin-top: spacing(16);
      align-self: flex-end;
    }
  }

  &__link-container {
    margin-top: spacing(16);
    order: 2;

    @media ($medium-up) {
      margin-top: 0;
      order: 1;
    }
  }

  &__privacy-link {
    padding-bottom: spacing(1);
    border-bottom: spacing(0.5) solid transparent;

    &:hover {
      color: color('white');
      border-bottom: spacing(0.5) solid color('white');
    }
  }
}
