@import 'settings';

$flavor-label-diameter: spacing(40);
$flavor-image-diameter-mobile: spacing(80);
$flavor-image-diameter-desktop: spacing(120);

.ProductDetails {
  &--Blue {
    @extend .bg-sky-blue;
    @extend .text-denim;
  }
}

.ProductDetails--container {
  .ProductDetail {
    @extend .transition;
    display: none;
    opacity: 0;
    margin-top: 0;
    &--active {
      display: flex;
      opacity: 1;
    }

    .FlavorHighlight {
      order: 1;
      display: flex;
      justify-content: center;
      // padding-bottom: calc(
      //   (#{$flavor-image-diameter-mobile} - #{$flavor-label-diameter}) / 2
      // );

      &--wrapper {
        width: $flavor-label-diameter;
        transform: translate(-80%, 80%);
        @media ($medium-up) {
          transform: translate(70%, 150%);
        }
      }

      &--label {
        height: $flavor-label-diameter;
      }

      &--image {
        height: $flavor-image-diameter-mobile;
        width: $flavor-image-diameter-mobile;
        // left: calc(#{$flavor-label-diameter} / 3 * 2);
        top: calc(#{$flavor-label-diameter} / -4);

        @media ($medium-up) {
          height: $flavor-image-diameter-desktop;
          width: $flavor-image-diameter-desktop;
          left: calc(#{$flavor-label-diameter});
          top: calc(#{$flavor-label-diameter} / -4);
        }
      }

      @media ($medium-up) {
        order: 3;
        // margin-top: spacing(-16);
        // padding-bottom: calc(
        //   (#{$flavor-image-diameter-mobile} - #{$flavor-label-diameter}) / 2
        // );
      }
    }

    &--description {
      flex-direction: column;

      @media ($medium-up) {
        flex-direction: row;
      }
    }

    &--description-image {
      margin-right: 0;
      margin-bottom: spacing(12);

      @media ($medium-up) {
        margin-right: spacing(16);
        margin-bottom: 0;
      }
    }

    &--description-text {
      text-align: center;

      @media ($medium-up) {
        text-align: left;
      }
    }

    &--detail {
      order: 3;
      border: solid-red;

      @media ($medium-up) {
        order: 2;
      }
    }

    @media ($medium-up) {
      max-height: 70vh;
      margin-top: spacing(16);
    }
  }
}
