@import 'settings';

.ProductDetails {
  @extend .bg-white;

  &--yellow {
    @extend .bg-yellow;
  }

  &--light-yellow {
    @extend .bg-light-yellow;
  }

  &--mustard {
    @extend .bg-deep-yellow;
  }

  &--blue {
    @extend .bg-sky-blue;
  }

  &--light-turquoise {
    @extend .bg-light-turquoise;
  }

  &--pink {
    @extend .bg-light-pink;
  }

  &--light-pink {
    @extend .bg-baby-pink;
  }

  &--light-peach {
    @extend .bg-light-peach;
  }

  &--light-orange {
    @extend .bg-light-orange;
  }

  &--peach-pink {
    @extend .bg-peach-pink;
  }

  &--yellow-green {
    @extend .bg-yellow-green;
  }

  &--light-yellow-green {
    @extend .bg-light-yellow-green;
  }
}

.ProductDetails--container {
  .ProductDetail {
    @extend .transition;
    display: none;
    opacity: 0;
    margin-top: 0;
    flex-direction: column;

    &--active {
      display: flex;
      opacity: 1;
      justify-content: space-between;
    }

    .FlavorHighlight {
      margin-top: spacing(16);

      &--wrapper {
        min-width: spacing(30);
        width: 20%;
        bottom: 0;
        left: 0;
        @media ($medium-up) {
          width: 30%;
        }
      }

      &--label {
        width: 100%;
      }

      &--label-text {
        width: 60%;
      }

      @media ($medium-up) {
        margin-top: 0;
      }
    }

    &--description {
      flex-direction: column;

      @media ($medium-up) {
        flex-direction: row;
      }
    }

    &--description-image {
      margin-right: 0;
      margin-bottom: spacing(12);

      @media ($medium-up) {
        margin-right: spacing(16);
        margin-bottom: 0;
      }
    }

    &--description-text {
      text-align: center;

      @media ($medium-up) {
        text-align: left;
      }
    }

    @media ($medium-up) {
      flex-direction: row;
    }
  }
}
