@import 'settings', 'typography', 'src/styles/utils';

.RecentArticle {
  &__link {
    @extend .pointer;
    text-decoration: none;
    transform: translate3d(0, spacing(-0.5), 0);
    transition: $transition;

    &:hover {
      color: inherit;
      transform: translate3d(0, spacing(-0.25), 0);
    }

    &:active {
      transform: translate3d(0, spacing(0.25), 0);
    }
  }

  &__title {
    font-size: spacing(3.25);
    line-height: $font-5;
  }
}
