@import 'settings', 'typography', 'src/styles/utils';

.ArticlePreview {
  &__image {
    border-radius: radius('m');

    &:hover {
      box-shadow: $drop-shadow;
    }
  }

  &__text-container {
    padding: spacing(4) 0;

    @media ($medium-up) {
      margin-left: spacing(2);
      padding: spacing(12) 0;
    }
  }

  &__title {
    text-align: left;
    font-size: spacing(4.5);

    @media ($medium-up) {
      font-size: $font-6;
    }
  }

  &__date {
    letter-spacing: spacing(0.1);
  }

  &__linked-button {
    @extend .pointer;
    text-decoration: none;
    transform: translate3d(0, spacing(-0.5), 0);
    transition: $transition;

    &:hover {
      transform: translate3d(0, spacing(-0.25), 0);
    }

    &:active {
      transform: translate3d(0, spacing(0.25), 0);
    }
  }
}
