@import 'settings';

.MiniCart {
  @extend .transition;
  top: calc(#{$header-height-mobile} + #{spacing(4)});
  right: 0;
  transform: translate3d(100%, 0, 0);
  max-width: spacing(92);

  @media ($medium-up) {
    top: calc(#{$header-height-desktop} + #{spacing(8)});
  }

  &--open {
    transform: translate3d(calc(100vw / -12 / 2), 0, 0);

    @media ($medium-up) {
      transform: translate3d(spacing(-8), 0, 0);
    }
  }

  &__line-items {
    @media ($medium-up) {
      min-height: 20vh;
      max-height: 35vh;
      overflow: auto;
      -webkit-mask-image: linear-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  &__line-item {
    transition: $transition;

    &--updating {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}

.MiniCart__delete-modal {
  pointer-events: none;
  opacity: 0;
  transition: $transition;

  .MiniCart__delete-modal-inner {
    max-width: spacing(120);
    transform: translate3d(0, spacing(8), 0);
    transition: $transition;
  }

  &--active {
    pointer-events: all;
    opacity: 1;

    .MiniCart__delete-modal-inner {
      transform: translate3d(0, 0, 0);
    }
  }
}
