@import 'settings', 'src/styles/utils';

.Button {
  &--primary {
    @extend .pointer;
    border-radius: spacing(8);
    box-shadow: $drop-shadow;
    font-family: $font-avenir;
    font-size: $font-4;
    font-weight: 800;
    height: spacing(15);
    padding: spacing(4) spacing(6);
    transition: $transition;

    &:hover {
      box-shadow: $drop-shadow-large;
      transform: translate3d(0, spacing(-0.5), 0);
    }
  }

  &--denim {
    @extend .bg-denim;
    @extend .text-white;
  }

  &--white-denim {
    @extend .bg-white;
    @extend .text-denim;
  }
}
