@import 'settings', 'src/styles/utils';

.Button {
  @extend .pointer;
  box-shadow: $drop-shadow;
  font-family: $font-avenir;
  font-size: $font-4;
  font-weight: 800;
  transform: translate3d(0, spacing(-0.5), 0);
  transition: $transition;

  &:hover {
    box-shadow: $drop-shadow;
    transform: translate3d(0, spacing(-0.25), 0);
  }

  &:active {
    box-shadow: 0;
    transform: translate3d(0, spacing(0.25), 0);
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.8;
  }

  &--primary {
    border-radius: spacing(8);
    height: spacing(15);
    padding: spacing(4) spacing(6);
  }

  &--secondary {
    border-radius: 0.5rem;
    padding: spacing(3) spacing(6);
  }

  &--circle {
    @extend .circle;
    font-size: $font-5;
    padding: spacing(2);
    height: spacing(12);
    width: spacing(12);
  }

  &--peach {
    @extend .bg-peach;
    @extend .text-white;
  }

  &--white-peach {
    @extend .bg-white;
    @extend .text-peach;
  }

  &--denim {
    @extend .bg-denim;
    @extend .text-white;
  }

  &--white-denim {
    @extend .bg-white;
    @extend .text-denim;
  }

  &--white-denim-outline {
    @extend .bg-white;
    @extend .text-denim;
    border: spacing(1) solid color('denim');
  }
}
