@import 'settings', 'src/styles/utils';

.Button {
  @extend .pointer;
  box-shadow: $drop-shadow;
  font-family: $font-avenir;
  font-size: $font-4;
  font-weight: 800;
  white-space: nowrap;
  transform: translate3d(0, spacing(-0.5), 0);
  transition: $transition;
  border: spacing(1) solid transparent;

  &:hover {
    box-shadow: $drop-shadow;
    transform: translate3d(0, spacing(-0.25), 0);
  }

  &:active {
    box-shadow: 0 0 0 0;
    transform: translate3d(0, spacing(0.25), 0);
  }

  &--disabled {
    box-shadow: 0 0 0 0;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
  }

  &--primary,
  &--primary-small,
  &--legend-key {
    display: flex;
    align-items: center;
    border-radius: radius('l');
    height: $button-primary-height;
    padding: spacing(4) spacing(6);
  }

  &--primary-small {
    height: $button-small-height;
    padding: spacing(2) spacing(6);
  }

  &--legend-key {
    padding: 0 spacing(8) 0 spacing(4);

    span {
      margin-top: spacing(1);
    }
  }

  &--secondary {
    display: flex;
    align-items: center;
    border-radius: radius('s');
    padding: spacing(3) spacing(6);
  }

  &--carousel-arrow {
    border: 0;
    border-radius: radius('circle');
    padding: 0;
    background: transparent;
    width: spacing(10);
  }

  &--icon,
  &--icon-small,
  &--no-style {
    padding: 0;
    padding-top: 0;
    box-shadow: 0 0 0 0;
    transform-origin: center top;
    transition-duration: $transition-duration-short;

    &:hover {
      box-shadow: 0 0 0 0;
      transform: scale(0.95);
    }
  }

  &--no-style {
    background: transparent;
  }

  &--icon {
    width: spacing(8);
  }

  &--icon-small {
    width: spacing(6);
  }

  &--div {
    padding-top: 1.4rem;

    &.Button--primary-small {
      padding-top: 0.8rem;
    }
  }

  &--circle {
    @extend .circle;
    font-size: $font-5;
    padding-top: 0;
    height: spacing(10);
    width: spacing(10);
  }

  &--circle-small {
    @extend .circle;
    padding: 0;
    padding-top: 0;
    font-size: $font-4;
    height: spacing(7);
    width: spacing(7);
  }

  &--peach {
    @extend .bg-peach;
    @extend .text-white;
  }

  &--white-peach {
    @extend .bg-white;
    @extend .text-peach;
  }

  &--denim {
    @extend .bg-denim;
    @extend .text-white;
  }

  &--white-denim {
    @extend .bg-white;
    @extend .text-denim;
  }

  &--madison-blue {
    @extend .bg-madison-blue;
    @extend .text-white;
  }

  &--clear-madison-blue-border {
    @extend .text-madison-blue;
    background-color: transparent;
    border: spacing(1) solid color('madison-blue');
  }

  &--madison-blue-white-border {
    @extend .bg-madison-blue;
    @extend .text-white;
    border: spacing(1) solid color('white');

    &.Button--circle {
      padding: 0;
    }
  }

  &--seafoam-madison-blue-border {
    @extend .bg-seafoam;
    @extend .text-madison-blue;
    border: spacing(1) solid color('madison-blue');

    &.Button--circle {
      padding: 0;
    }
  }

  &--white-madison-blue-border {
    @extend .bg-white;
    @extend .text-madison-blue;
    border: spacing(1) solid color('madison-blue');

    &.Button--circle-small {
      border-width: spacing(0.5);
    }
  }

  &--white-madison-blue {
    @extend .bg-white;
    @extend .text-madison-blue;
    border: spacing(1) solid color('white');
  }

  &--style-none {
    background-color: transparent;
    box-shadow: unset;
    border-radius: radius('0');
    padding: 0;

    &:hover {
      box-shadow: unset;
    }
  }
}
