@import 'settings', 'src/styles/typography';

.Nav {
  height: $header-height-mobile;
  padding: spacing(4) spacing(4);
  top: $alert-height-mobile;

  @media ($medium-up) {
    height: $header-height-desktop;
    padding: spacing(4) spacing(8);
    top: $alert-height-desktop;
  }

  &__cart-button {
    > span {
      padding-top: 1px;

      @media ($medium-up) {
        padding: 0;
        padding-bottom: 1px;
      }
    }
  }

  .left-side {
    justify-content: flex-start;
  }

  .logo-container {
    justify-content: center;

    &__logo {
      object-fit: contain;
      max-width: spacing(30);

      @media ($medium-up) {
        max-width: spacing(40);
      }
    }
  }

  .right-side {
    justify-content: flex-end;
  }
}
