@import 'settings';

.Nav {
  padding: spacing(8) spacing(8);

  @media ($medium-up) {
    padding: spacing(16) spacing(8);
  }

  &__left-side {
    > a:first-of-type {
      margin-left: 0;
    }
  }

  &__menu-icon-container {
    div:nth-child(2) {
      margin: spacing(1) 0;
    }
  }

  &__menu-icon {
    height: 0;
    border-radius: spacing(1);
    border: spacing(0.4) solid color('white');
  }
}
