@import 'settings', 'typography';

.LocationDropdown {
  z-index: 750;
  transition: transform 0.7s ease;

  &--inactive {
    transform: translate3d(0, spacing(-180), 0);
  }

  &__nav-container {
    top: $header-height-desktop;
    height: spacing(70);
  }

  &__nav-container--with-alert {
    top: calc(#{$header-height-desktop} + #{$alert-height-desktop});
  }

  &__location-link {
    border: 0;
  }
}
