@import 'settings';

.FlavorFrenzyCarousel {
  margin-top: -100px; // drip

  &__slide {
    min-height: 90vh;
  }

  &__slide-title {
    font-family: $font-carter;
    font-size: $font-6;
    margin-bottom: 1rem;

    @media ($medium-up) {
      font-size: $font-7;
      line-height: $font-7;
      margin-bottom: 3rem;
    }
  }

  &__indicator {
    @media ($medium-up) {
      padding: spacing(2);
    }
  }

  &__vote-card {
    border-radius: radius('s');
    width: spacing(75);
    min-height: spacing(100);
    padding: 0.95rem 0.85rem;

    &:first-of-type {
      margin-left: 0.75rem;
      margin-right: 0.25rem;
    }

    &:last-of-type {
      margin-left: 0.25rem;
      margin-right: 0.75rem;
    }

    @media ($medium-up) {
      padding: 2rem;
      margin: 0 2rem;
      width: spacing(80);
      height: spacing(118);

      &:first-of-type,
      &:last-of-type {
        margin: 0 2rem;
      }
    }
  }

  &__card-title {
    font-family: $font-carter;
    font-size: $font-4;

    @media ($medium-up) {
      font-size: $font-6;
      line-height: $font-7;
    }
  }

  &__card-controls {
    padding: 0 1rem 1rem;
    flex-direction: column;

    @media ($medium-up) {
      padding: 0 2rem 2rem;
      flex-direction: row;
    }
  }

  &__vote-count {
    flex-direction: row;
    margin-top: 0.75rem;

    @media ($medium-up) {
      margin-left: 1rem;
      margin-top: 0;
      flex-direction: column;
    }
  }

  &__vote-button {
    width: 100%;

    @media ($medium-up) {
      width: auto;
    }
  }
}
